extends layout

block content
    table(border="1")
        each value, i in sections
            tr
                td= value.id
                td= value.name
                td= value.time
                td= value.seats + " seats remaining"
                td
                    script.
                        document.write(`<a href='/api/sections/take?email=${window.localStorage.getItem("email")}&section=#{value.id}'>Take</a>`)

    style.
        td {
            padding: 4px;
        }
